In [1]:
import pandas as pd
file_path = r"C:\Users\Nathan\Documents\WGU\D602\Task 2\T_ONTIME_REPORTING.csv"
df = pd.read_csv(file_path)
print("Dataset successfully imported")

Dataset successfully imported

In [2]:
df = df.rename(columns={
    "DAY_OF_MONTH": "DAY",
    "ORIGIN": "ORG_AIRPORT",
    "DEST": "DEST_AIRPORT",
    "CRS_DEP_TIME": "SCHEDULED_DEPARTURE",
    "DEP_TIME": "DEPARTURE_TIME",
    "DEP_DELAY": "DEPARTURE_DELAY",
    "CRS_ARR_TIME": "SCHEDULED_ARRIVAL",
    "ARR_TIME": "ARRIVAL_TIME",
    "ARR_DELAY": "ARRIVAL_DELAY"
})
print(df.columns)

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'ORG_AIRPORT', 'DEST_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY'],
      dtype='object')

In [3]:
df.to_csv('airport_data.csv', index=False)

In [12]:
filtered_df = df[df['ORG_AIRPORT'] == 'MIA'].copy()

In [13]:
missing_values = filtered_df.isnull().sum()
print(missing_values)

YEAR                     0
MONTH                    0
DAY                      0
DAY_OF_WEEK              0
ORG_AIRPORT              0
DEST_AIRPORT             0
SCHEDULED_DEPARTURE      0
DEPARTURE_TIME         139
DEPARTURE_DELAY        139
SCHEDULED_ARRIVAL        0
ARRIVAL_TIME           149
ARRIVAL_DELAY          171
dtype: int64

In [5]:
filtered_df.dropna(subset=['DEPARTURE_TIME', 'DEPARTURE_DELAY', 'ARRIVAL_TIME', 'ARRIVAL_DELAY'], inplace=True)

In [6]:
missing_values = filtered_df.isnull().sum()
print(missing_values)

YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
ORG_AIRPORT            0
DEST_AIRPORT           0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
dtype: int64

In [7]:
for col in filtered_df.select_dtypes(include='object').columns:
    filtered_df[col] = filtered_df[col].map(lambda x: x.strip() if isinstance(x, str) else x)

In [8]:
filtered_df

,YEAR,MONTH,DAY,DAY_OF_WEEK,ORG_AIRPORT,DEST_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY
2156,2019,4,1,1,MIA,ATL,600,557.0,-3.0,756,743.0,-13.0
2157,2019,4,1,1,MIA,ATL,620,816.0,116.0,826,1014.0,108.0
2158,2019,4,1,1,MIA,ATL,635,631.0,-4.0,835,828.0,-7.0
2159,2019,4,1,1,MIA,ATL,701,657.0,-4.0,905,847.0,-18.0
2160,2019,4,1,1,MIA,ATL,810,810.0,0.0,1003,1001.0,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
99619,2019,4,30,2,MIA,TPA,1530,1533.0,3.0,1633,1625.0,-8.0
99620,2019,4,30,2,MIA,TPA,1909,1903.0,-6.0,2011,2008.0,-3.0
99621,2019,4,30,2,MIA,TPA,2141,2140.0,-1.0,2247,2247.0,0.0
99622,2019,4,30,2,MIA,TYS,1624,1621.0,-3.0,1835,1825.0,-10.0
99623,2019,4,30,2,MIA,TYS,2130,2123.0,-7.0,2343,2324.0,-19.0

In [9]:
filtered_df.to_csv('cleaned_data.csv', index=False)
print("Exported Successfully")

Exported Successfully